# Sepcify boto3 and botocore versions with Amazon Bedrock access.
boto3>=1.28.57
botocore>=1.31.57
langchain==0.2.9
langchain-aws==0.1.11
langchain-community==0.2.7
duckduckgo_search[lxml]==5.3.1b1
langchain_postgres==0.0.9
psycopg2-binary==2.9.9
pgvector==0.2.5
beautifulsoup4==4.12.3
sqlalchemy==2.0.30