# Sepcify boto3 and botocore versions with Amazon Bedrock access.
boto3>=1.28.57
botocore>=1.31.57
langchain==0.2.1
langchain-aws
langchain-community==0.2.1
duckduckgo-search==5.3.0
psycopg2-binary
pgvector
beautifulsoup4==4.12.3