# The specified boto versions recognize Amazon Bedrock service after general availability.
boto3>=1.28.57
botocore>=1.31.57
pandas==2.0.3
dask[dataframe]==2024.10.0
tabulate
langchain==0.2.12
langchain-aws==0.1.16
langchain-community==0.2.11
psycopg2-binary==2.9.9
# tiktoken is required by langchain.text_splitter.TokenTextSplitter
tiktoken
pgvector==0.2.5
sqlalchemy==2.0.30